<div class="center hero-unit">
  <h1>Process Advanced Orders</h1>

  <h2>
    This is where you can download and process future orders beyond the locked date of the current orders.  
  </h2>
  <p>Please specify a date range by entering a "from" date and a "to" date below:</p>
  <form action= <%= url "/advanced" %> method="post">
  DOE User: <input type="text" name="user" /><br />
  DOE Password: <input type="password" name="pass" /><br />
  S2K User: <input type="text" name="sys_user" /><br />
  S2K Password: <input type="password" name="sys_pass" /><br />
  From date (MM/DD/YYYY): <input type="text" name="from_date" /><br />
  To date (MM/DD/YYYY): <input type="text" name="to_date" /><br />
  <input type="submit" value="Submit" />
</form>

</div>
