<div class="center hero-unit">
  <h1>Process Current Orders</h1>

  <h2>
    This is where you can download and process current "locked" orders. 
  </h2>
  <p>Please specify the date you which to download and lock below:</p>
  
  <form action=<%= url "/current" %> method="post">
  DOE User: <input type="text" name="user" /><br />
  DOE Password: <input type="text" name="pass" /><br />
  Date to lock (MM/DD/YYYY): <input type="text" name="date" /><br />
  <input type="submit" value="Submit" />
    
</div>
