<div class="center hero-unit">
  <h1>Welcome to OrderBridge</h1>

  <h2>
    This is the main page for the OrderBridge 2.0 application. 
  </h2>
  <p>Please select an option below to get started.</p>

  <a href= <%= url "/advanced" %> class= "btn btn-large btn-primary">Get Advanced Orders!</a>
  <a href=<%= url "/current" %> class= "btn btn-large btn-primary">Lock Current Orders!</a>
  
</div>
	
