<div class="center hero-unit">
  <h1>Welcome to OrderBridge</h1>

  <h2>
    This is the home page for the OrderBridge 2.0 application. 
  </h2>

  <a href="#" class= "btn btn-large btn-primary">Sign up now!</a>
</div>
	
