<div class="center hero-unit">
  <h1>Welcome to OrderBridge</h1>

  <h2>
    This is the main page for the OrderBridge 2.0 application. 
  </h2>
  <p>Please select an option below to get started.</p>

  <a href= <%= url "/advanced" %> class= "btn btn-medium btn-primary">Process Advanced Orders</a>
  <a href=<%= url "/current" %> class= "btn btn-medium btn-primary">Process Current Orders</a>
  <a href=<%= url "/download" %> class= "btn btn-medium btn-primary">Download Current Orders</a>
  <a href=<%= url "/download_advanced" %> class= "btn btn-medium btn-primary">Download Future Orders</a>
</div>
	
