<div class="center hero-unit">
  <h1>Incorrect Date Format</h1>

  <h2>
    The Date(s) you entered are invalid. 
  </h2>
  <p>Please enter the dates in the format MM/DD/YYYY. Also be sure that the "from" date is not greater than the "to" date.</p>
    
</div>
