<div class="center hero-unit">
  <h1><%= No Results %></h1>

  <h2>
    There are no log entries for the criteria you entered. 
  </h2>
  <p>Either you miss entered the criteria or there is simply no errors or warnings to report.
  
  <p><%= link_to logs_url, "<-Go Back" %></p>
    
</div>
