<div class="center hero-unit">
  <h1>View Logs</h1>

  <h2>
    This is where you can select logs from program runs to view. 
  </h2>
  <p>Please specify the order date you wish to view</p>
  
  <form action="<%= log_url %>" method="post">
  Order date to view (MM/DD/YYYY): <input type="text" name="date" /><br />
  <input type="radio" name="log_type" value='E' checked/> Errors<br />
  <input type="radio" name="log_type" value='W' /> Warnings<br />
  <input type="submit" value="Submit" /></form>
    
</div>
