<div class="center hero-unit">
  <h1>No Results</h1>

  <h2>
    There are no Authorizations listed. Enter one below and then return to the preference page.
  </h2>
  <p><form action= <%= url "/authorizations" %> method="post">
  Customer to add: <input type="text" name="customer" /><br />
  <input type="submit" value="Submit" /></form></p>
    
</div>
