<div class="center hero-unit">
  <h1>OrderBridge Preferences</h1>

  <h2>
    This is where you can specify preferences for the OrderBridge 2.0 application. 
  </h2>
  <p>Please select an option below to get started. You can set case items that should be sold as pieces (broken cases) and you can also set whether order quantities need to be converted from weight.</p>

  <a href= <%= url "/items-to-break" %> class= "btn btn-medium btn-primary">Broken Items</a>
  <a href= <%= url "/weight-to-case" %> class= "btn btn-medium btn-primary">Weights to Cases</a>
  <a href= <%= url "/restrictions" %> class= "btn btn-medium btn-primary">Restricted Items</a>
  <a href= <%= url "/authorizations" %> class= "btn btn-medium btn-primary">Authorized Customers</a>
  
</div>
	
