<div class="center hero-unit">
  <h1>Maintain Weight to Cases</h1>

  <h2>
    This is a list of items that are ordered by the pound and then converted to cases.
  </h2>
  <table>
  <tr>
  <% @data[0].each_key do |col| %>
    <td><%= col %></td>
    <% end %>
    <td>&nbsp;</td>
  </tr>
  <% @data.each do |hsh| %>
    <tr>
    <% hsh.each_value do |val| %>
      <td><%= val %></td>
      <td><form action=<%= "'/weight-to-case/#{val}'" %> method="delete"><input type="submit" value="Delete" /></form></td>
      <% end %>
    </tr>
  <% end %>
  </table>
    
</div>
