<div class="center hero-unit">
  <h1>Maintain Weight to Cases</h1>

  <h2>
    This is a list of items that are ordered by the pound and then converted to cases.
  </h2>
  <table>
  <tr>
  <% @data[0].each_key do |col| %>
    <td><%= col %></td>
    <% end %>
    <td>Action</td>
  </tr>
  <% @data.each do |hsh| %>
    <tr>
    <% hsh.each_value do |val| %>
      <td><%= val %></td>
      <% end %>
      <td><form action="/weight-to-case" method="post">
      <input type="hidden" name="item" value=<%= "'#{hsh["item"]}'" %> />
      <input type="submit" name="_method" value="Delete" /></form></td>
    </tr>
  <% end %>
  </table>
  <form action="/weight-to-case" method="post">
  Item to add: <input type="text" name="item" /><br />
  <input type="submit" value="Submit" /></form>
    
</div>
